@model Category

@{
    ViewData["Title"] = "Delete Category";
}

<form method="post">
    <input asp-for="Id" hidden />
    <div class="row my-4">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <h4 class="text-white text-uppercase ps-3">Delete Category</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="p-0">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                        <div class="card-body">
                            <div class="mb-3 row">
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-outline">
                                        <label asp-for="Name" class="w-100"></label>
                                        <input asp-for="Name" disabled class="form-control">
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-outline">
                                        <label asp-for="DisplayOrders" class="w-100"></label>
                                        <input asp-for="DisplayOrders" disabled class="form-control" />
                                        <span asp-validation-for="DisplayOrders" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6 col-md-3">
                                    <input type="submit" value="Delete" class="btn btn-danger form-control" />
                                </div>
                                <div class="col-6 col-md-3">
                                    <a asp-controller="Category" asp-action="index" class="btn btn-dark form-control">Back to List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}